.signup {
    background: #3b3b3b;
    /* 242424 */
}

.cart {
    position: relative;
}

.cart::after {
    position: absolute;
    content: '0';
    background: #f24618;
    width: 25px;
    height: 25px;
    bottom: -10px;
    right: -10px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuShow {
    right: 0 !important;
    top: 20px;
    display: flex !important;
}

.words {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: rotate(90deg);
}

.words label {
    position: absolute;
    inset: 20px;
    text-align: center;
    transform: rotate(calc(var(--i) * (360deg / 20)));
    font-weight: 700;
}

.our-company label {
    transform: rotate(calc(var(--i) * (360deg / 29)));
}

.our-company .words {
    transform: rotate(-70deg);
}

.our-company .video {
    transform: rotate(-50deg);
}
.card-button,
.card-bottom,
.card-top,
#pricing .card {
    transition: .4s ease all;
    cursor: pointer;
}


#feedback_slider {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    width: 100%;
    position: relative;
  }
  .wrapper i {
    z-index: 50;
    top: 30px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #39312d;
    color: white;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform:  scale(0.85);
  }
  .wrapper i:first-child{
    right: 44px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-top: 10px;
    padding-bottom: 80px;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel .card {
    scroll-snap-align: start;

    list-style: none;
    background: linear-gradient(to right, #1c1c1c, #3a322d);
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    color: white;
    position: relative;
  }
  .carousel .card::after{
    content: '';
    position: absolute;
    background: linear-gradient(to right, #1c1c1c, #3a322d);
    height: 20px;
    width: 20px;
    top: -10px;
    left: 4 0px;
    transform: rotate(45deg);
    z-index: -1;
  }
  .sortcut-link{
    position: relative;
  }
  .sortcut-link::after{
    content: '';
    position: absolute;
    background: orangered;
    width: 40px;
    height: 3px;
    left: 0;
    bottom: -4px;
  }

  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }

@media only screen and (min-width: 768px) {
    #pricing .card:hover {
        margin-top: -40px;
    }
    
    .card:hover .card-top {
        background: #1f1f1f;
        
    }
    
    .card:hover .card-bottom {
        background: linear-gradient(to right, #fd8003, #f2431a);
    }
    .card:hover .card-icon {
        background: linear-gradient(to right, #fd8003, #f2431a);
        color: white;
    }
    .card:hover .card-button {
        background: white;
        border: none;
        color: #f2431a;
    }
}
